:root {
    --primary: rgb(53, 171, 187);
    --secondary: rgb(197, 194, 20);
    --radius: 20px;
}

html, body {
    color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
    /* overridden by ~random color within <script> */
    background-image: linear-gradient(
        to bottom right,
        rgb(105, 113, 128),
        rgb(7, 10, 19)
    );
    text-align: left;
    width: 100%;
}


h1 {
    font-weight: 1000;
    font-size: 3em;
    text-shadow: 10px 10px 15px rgb(0, 0, 0);
    color: var(--primary);
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-weight: 600;
    color: var(--secondary);
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
}


h3 {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--primary);
    background-clip: text;
    -webkit-background-clip: text;
}

p {
    font-weight: 400;
    color: var(--primary);
    background-clip: text;
    -webkit-background-clip: text;
}

main form {
    max-width: 800px;
    min-width: 40vw;
    background: var(--black);
    border-radius: var(--radius);
    padding: 2rem;
}

form > * {
    padding-top: 2rem;
}

input[type=number] {
    text-align: right;
}

#sent {
  display: none;
}

legend {
    color: var(--secondary);
}

#qrcode {
    margin: 2rem;
}

.invisible {
    display: none;
}

.colored-button {
    color: black;
    background: var(--secondary);
}

.warning {
    text-align: center;
    border: 1px solid var(--codeBorderColor,var(--inputBorderColor));
    color: var(--secondary);
    border-radius: var(--inputRadius);
    font-size: 1.3rem;
    font-family: var(--fontMono);
    white-space: nowrap;
}

.recommendation-wrapper {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

small {
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary);
}